/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 12px/18px 'Open Sans', sans-serif;
	height: 100%;
}
*{
	box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
.wrapper {
	margin: 0 auto;
	padding-right: 50px;
	padding-left: 50px;
    max-width: 1400px;
    width: 100%;
    min-height: 100%;
    height: auto !important;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	padding-top: 10px;
	display: flex;
	justify-content:space-between;
	box-sizing: border-box;
}
.left{
	display: flex;
	
	align-items:center;
	background: #fff;

}

.logo{
	position: relative;
	display: flex;
    justify-content: flex-start;
    align-items: center;
	

}

.logo a{
	display: block;
	text-decoration: none;
	color: #47495A;
	font-size: 18px;
	font-weight: 700;
	// font-family: Century Gothic;
}
.red_img{
	// top: 11px;
	// left: 0px;
	width: 16px;
	height: 16px;
	background-color: #F88379;
	border-radius: 50%;
}

.menu{
	padding: 10px;
}

.m{
	display: flex;
	flex-direction:row;
	 text-transform: uppercase;
	font-size: 20px;
	// font-family: "Verdana";

}

.m a{
	font-weight: 700;
	align-items: center;
	padding: 20px 20px 20px 10px;
	font-size: 12px;
	// font-family: "calibri";
	color:#6B7C93;
	text-decoration: none;
}

.right{
	display: flex;

	justify-content:flex-end;
	align-items: center;
	background: #fff;
	
	
}

.login{
	text-transform: uppercase;
	color: #6B7C93;
	cursor: pointer; 
	padding: 0 45px;
	font-weight: 700;
	font-size:12px;

}

.sign_up{
	transition:0.6s;
	text-transform: uppercase;
	color: #fff;
	cursor: pointer;
	background: #1DC5FF; 
	padding: 5px 15px;
	border-radius: 5px;
	box-shadow: 2px 2px 4px 0 #ccc;
	font-weight: 700;
	font-size:12px;
}
.sign_up:hover{
	box-shadow: 4px 4px 8px 0 #5B5B5B;
}

/* Middle
-----------------------------------------------------------------------------*/
.content {
	height: auto;
	min-height: 445px;
	display: flex;
	flex-direction:column;
	justify-content: space-between;
	// justify-content:flex-start;
	// align-items: center;

}
.main_info{
	width: 100%;
}
.main_info h2{
	text-align: center;
	color: #47495A;
	font-family: "Helvetica Neue";
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
	// padding-bottom: 20px;
	padding-top: 20px;
}

.review{
	display: flex;
	flex-direction:column;
	// justify-content:center;
	// align-items:flex-start;
	width: 35%;
	margin-bottom: 10px;
}
.descip{
	font-family:'Lato', sans-serif;
	margin-top: 12px;
	cursor: pointer;
}

.descip label{
 	padding-left: 5px;
  display: inline-block;
  opacity: 0.6;
  cursor: pointer;
  border-left: 2px solid #fff;
}
.descip input[type=radio]{
    display: none;
}
[type=radio]:checked ~ label {
    background: white;
    border-left: 2px solid #1DC5FF;
	opacity: 1;
}
    
.descip h3{
	margin: 12px 0;
	font-size:15px;
	font-weight: bold;
	margin-top: 0;
}
.descip p{
	font-size:14px;
}

.contact{
	margin-right:-50px;
	margin-left: -50px;
	background: #F0F4F7;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 35px 50px;
	font-size:16px;


}

.contact h3{
	font-weight: 600;
}

.btn{
	transition:0.6s;
	border:none;
	text-align: center;
	font-size: 18px;
	text-transform: uppercase;
	color: #fff;
	cursor: pointer;
	background: #FF978D; 
	padding: 15px 75px;
	border-radius: 5px;
	box-shadow: 2px 2px 4px 0 #ccc;
}



/* Footer
-----------------------------------------------------------------------------*/
.footer {
	
    margin: -140px auto 0;
    max-width: 1400px;
    width: 100%;
    height: 140px;
    position: relative;
    padding-left: 50px;
    padding-right: 50px;

}


.fot_menu{

	width: 100%;
	// border-top: 1px solid #ECF1F4;
	display: flex;
	flex-direction:row;
	justify-content:flex-start;
	
	 
}
.f-menu{
	margin-right: 12px;
}

.f-menu h3{
	margin: 12px 0;
	text-transform: uppercase;
	font-weight: bold;
	// font-family:"Arial Black";
	color: #6B7C93;
}

.fot_menu a{
	font-weight: 500;
	align-items: center;
	color: #6B7C93;
	text-decoration: none;

}

@media screen and (max-width:840px){

	.login{
		padding-left: 20px;
		margin-bottom: 10px;
	}

	.right{
	flex-direction: column;
    justify-content: center;
	}



	


}

@media screen and (max-width:720px){
	.wrapper, .footer {
		padding-right: 35px;
		padding-left: 35px;

	}


	.menu {
		padding: 0;
	}
}

@media screen and (max-width:600px){


	.header{
		flex-direction:column;
		margin-bottom: 10px;
		height: auto;

	}

	.left{
		flex-direction:column;
		margin-bottom: 10px;
	}
		
	.logo{
		padding:20px;

	}
	.red_img{
		width: 30px;
		height: 30px;	
	}

	.logo a{

		font-size: 30px;
	}

	.right{
		flex-direction:row;

	}

	.m{
		flex-wrap:wrap;
		justify-content:center;
	}


}

@media screen and (max-width:480px){
	.main_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
	}

	.main_info h1{
	font-size: 33px;
    line-height: 30px;
    padding: 0;
	}
	.main_info p{
		padding-top:20px;
		padding-bottom: 40px;
	}
}

@media screen and (max-width:360px){
	.main_info h1{
	font-size: 25px;
    line-height: 25px;
	}
	.main_info p{
		padding-bottom: 10px;
	}

	.get_started{
		padding: 10px 60px;
	}

	.f-menu ul{
		    font-size: 10px;
	}
}

@media screen and (max-device-width : 840px) and (orientation:landscape) {
	.right{
		flex-direction:row;

	}
	.login{
		margin-bottom: 0;
	}

	
	.main_info{
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
	}
	.main_info h1{
		padding-bottom: 0;
		    font-size: 29px;
    line-height: 26px;
	}
	.main_info p{
	padding-bottom: 15px;
    padding-top: 15px;
	}
	.get_started{
		padding: 10px 75px;
	}

	.header{
		
		margin-bottom: 10px;
		height: auto;

	}

}

@media screen and (max-device-width : 720px) and (orientation:landscape) {

	.footer{
		height: 140px;
		margin: -140px auto 0;
	}	

	.header{
		    margin-bottom: 20px;
	}
	.login{
		padding: 0;
		padding-right:20px;
	}

}

@media screen and (max-device-width : 600px) and (orientation:landscape) {
	
	.footer{

		margin: 0;
		height: auto;
		margin-bottom: 10px;
	}

}